

.about-title{
    text-transform: uppercase;
    // position: absolute;
    // margin-bottom: 0px;
    text-align:left;
    margin-left: 5rem;
    margin-top: 100px !important;
    background-color: #D2F1E4;
 
    // color: black;
    // background-color: lightgray;
    color: #22223B;
    font-weight: bold;
    // -webkit-text-stroke-color: #003366 !important;
    // -webkit-text-stroke-width: 1px;

    width: 250px !important;
}

.about-text{
    color:#5B79A8;
    // font-weight: bold;
    padding: 50px;
 

    border: 1px solid black;
 
  
    

}

.about-box{
    box-shadow: 10px 15px 10px -10px #5B79A8;
}
