.about-container{
   
    // padding: 160px;

   
    // margin: 0 auto;
    // background-color: lightgray !important;


  

}



.about-title{
    text-transform: uppercase;
    // position: absolute;
    // margin-bottom: 0px;
    text-align:left;
    margin-left: 10rem;
    margin-top: 15rem;
    color: black;
    background-color: lightgray;
    width: 250px;
}

.about-text{
    color:black;
    font-weight: bold;
    padding: 100px;
    margin-top:-5rem;
    

}

