


@media all and (max-width:800px) {

   
  .hr-bar{
        
    color: rgba(211, 211, 211, 0.442)!important;
    background-color: rgba(211, 211, 211, 0.442) !important;
    height:  .5px;
    border-color : rgba(211, 211, 211, 0.442) !important;
    width: 20rem !important;
  
  }

  .title-home{
    font-size: 45px !important;
  }

}
html,body
{

    overflow-x: hidden; 
}


.hr-bar{
        
  color: rgba(211, 211, 211, 0.442)!important;
  background-color: rgba(211, 211, 211, 0.442) !important;
  height:  .5px;
  border-color : rgba(211, 211, 211, 0.442) !important;
  width: 80rem ;

}

.title-home{
  margin-top: 9rem;
  font-size:60px;
  // position: absolute;
  position: absolute;

  text-align: center;
  
  width: 100%;
  color: black;
  // color: lightgray;
  // -webkit-text-stroke-color: #003366 !important;
  // -webkit-text-stroke-width: 1px;
  
}

.home-container{
  margin-top:12rem;
  // background-color: lightgray !important;
  background-color: rgba($color: #BCDDF2, $alpha: 1.0) !important;




}
// .home-project{
//   color:#5B79A8;
//   margin-top: 5rem; 
//   text-align: left;
// }

.jumbotron{
  padding: 0rem 4rem !important;
}

.home-image{
  margin-top:2rem;
}