@media only screen and (max-width:768px) {
   
    .project-card-div{
        display: block !important;
    }

   
    
}





.project-title{
    // background-color:  #D2F1E4;
    // font-weight: bold;
    // width: 350px;
    text-transform: uppercase;
    // position: absolute;
    // margin-bottom: 0px;
    text-align:left;
    margin-left: 5rem;
    margin-top: 100px !important;
    background-color: #D2F1E4;
    width:250px !important;
   
 
    // color: black;
    // background-color: lightgray;
    color: #22223B;
    font-weight: bold;
}


.project{
    margin-top: 10rem !important;
   
}

.pb3-ns {
    background-color: #BCDDF2;
    color:white;
}

.f6{

    color:white;
}

